/* HEADER SECTION */

.top-bar {
  width: 100%;
  height: 90px;
}

.container {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  /* padding: 0 200px; */
}

.logo-kf {
  width: 250px;
  height: 54px;
}

.logo-kg {
  width: 266px;
  height: 35px;
}

/* MAIN SECTION  */

.background-container {
  width: 100%;
  position: relative;
  display: flex;
  /* justify-content: center; */
  align-items: flex-end;
}

.background-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 90vh;
  background-image: url("../images/Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 20%;
  z-index: -1;
}

.header-section-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 90vh;
  position: relative;
  z-index: 1;
}

.title-flag-container {
  width: 75%;
  background-color: #003154;
  color: #ffffff;
  padding: 20px 0 75px 0;
  border-radius: 20px;
  position: relative;
}

.flag-title {
  padding: 0 30px;
}

.flag-text {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 30px;
}

.red-text {
  font-weight: 600;
  font-size: 22px;
  text-wrap: nowrap;
  position: absolute;
  text-transform: uppercase;
  background-color: #e40521;
  margin-top: 10px;
  bottom: 20px;
  width: 110%;
  padding: 5px 10px 5px 30px;
}

/* UNDER SECTION */
.text-container {
  padding: 20px;
  width: 100%;
  display: flex;
}

.mockup {
  width: 60%;
  height: 100%;
}

.under-header-text {
  color: #003154;
}

.under-header-text-title {
  font-size: 22px;
}

/* FORM */

.form {
  width: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px 25px;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 20px #00000017;
  -moz-box-shadow: 2px 2px 20px #00000017;
  box-shadow: 2px 2px 20px #00000017;
}

.form-container {
  position: relative;
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 15px;
  margin-bottom: 25px;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-grow: 1;
}

.form-header {
  width: 100%;
  font-size: 18px;
  font-family: Helvetica, Arial, sans-serif;
  /* margin: 0 auto; */
  margin-bottom: 10px;
  color: #2ece4c;
}

.input-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}

.input-label {
  width: 130px;
  text-wrap: nowrap;
  font-family: Helvetica, Arial, sans-serif;
}

.nip-input,
.phone-input,
.name-input {
  height: 50px;
  width: 50%;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 0 0 15px #00000017;
  -moz-box-shadow: 0 0 15px #00000017;
  box-shadow: 0 0 15px #00000017;
}

.name-input {
  width: 95%;
  margin-top: 10px;
}

.third-row {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

.submit-btn-wrapper {
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.submit-btn {
  font-family: Helvetica, Arial, sans-serif;
  cursor: pointer;
  background-color: #003154;
  color: #ffffff;
  border: 1px solid #003154;
  padding: 10px 15px;
  border-radius: 10px;
  transition: all 0.3s ease;
  text-wrap: nowrap;
}
.submit-btn:hover {
  background-color: transparent;
  color: #003154;
}

.separator,
.top-bar-separator,
.tile-separator {
  width: 100%;
  height: 2px;
  background-color: #f8f8f8;
  margin-bottom: 25px;
}

.top-bar-separator {
  display: none;
}

.call-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 15px;
}

.call-cta {
  background-color: #e61732;
  text-decoration: none;
  color: #ffffff;
  padding: 10px 15px;
  border: 1px solid #e61732;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.call-label {
  font-family: Helvetica, Arial, sans-serif;
}

.call-cta:hover {
  background-color: transparent;
  color: #e61732;
}

.legal-note {
  font-size: 12px;
}

.toggle-btn {
  color: #e61732;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease;
}

.toggle-btn:hover {
  color: #000000;
}

.nip-error,
.phone-error,
.name-error {
  position: absolute;
  left: 0;
  font-family: Open sans;
  font-size: 11px;
  color: #e61732;
  animation: appear 0.3s ease forwards;
}

.name-error {
  top: -20px;
}

.nip-error {
  top: -10px;
}

.hide {
  display: none;
}

/* FOOTER  */

.footer {
  background-color: #003154;
  color: #ffffff;
  padding: 60px 30px;
}

.footer-container {
  margin: 0 auto;
  width: 70%;
}

.footer-logo {
  width: 400px;
  margin-bottom: 60px;
}

.footer-text {
  max-width: 900px;
  font-style: normal;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.expanded {
  display: none;
}

@media (max-width: 1950px) {
  .expanded-list-column {
    width: 55%;
    align-items: flex-end;
    padding-bottom: 0;
  }
}

@media (max-width: 1750px) {
  .expanded-list-column {
    width: 65%;
    align-items: flex-end;
    padding-bottom: 0;
  }
}
@media (max-width: 1650px) {
  .expanded-list-column {
    width: 75%;
    align-items: flex-end;
    padding-bottom: 0;
  }
}

@media (max-width: 1500px) {
  .expanded-list-column {
    width: 95%;
    align-items: flex-end;
    padding-bottom: 0;
  }
}

@media (max-width: 1300px) {
  .list-column {
    display: none;
  }

  .main-sec-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .expanded-list-column {
    align-items: center;
  }

  .header-text,
  .last-line {
    font-size: 20px;
    white-space: wrap;
  }

  .action-column {
    align-items: center;
  }
}

@media (max-width: 950px) {
  .tiles-grid {
    grid-template-columns: repeat(1, minmax(350px, 1fr));
  }
}

@media (max-width: 750px) {
  .logo-kf {
    width: 150px;
    height: 54px;
  }

  .logo-kg {
    width: 166px;
    height: 35px;
  }

  .header-text,
  .last-line {
    padding: 0 15px;
  }

  .form {
    width: 90%;
  }

  .form-container {
    align-items: center;
    flex-direction: column;
    height: fit-content;
  }

  .inputs-container {
    width: 90%;
  }

  .submit-btn-wrapper {
    width: 90%;
  }

  .submit-btn {
    width: 100%;
  }

  .info-section.mobExpanded {
    height: 600px;
    align-items: flex-end;
    padding-bottom: 30px;
  }
}

@media (max-width: 600px) {
  .logo-kf {
    width: 100px;
  }

  .logo-kg {
    width: 116px;
  }
  .top-bar {
    height: 5vh;
  }
  .top-bar-separator {
    display: block;
    margin: 0;
  }

  /* MAIN */
  .main-section {
    background-image: none;
    height: fit-content;
    transform: translateY(30px);
    padding: 10px 0;
  }

  .main-sec-expanded-form {
    transform: none;
  }

  .info-section {
    display: none;
  }

  .header-text {
    font-size: 20px;
    color: #000000;
  }

  .form-header {
    font-size: 16px;
  }

  .inputs-container {
    width: 100%;
  }

  .submit-btn-wrapper {
    width: 100%;
  }

  .input-label {
    width: 60px;
    font-size: 12px;
  }

  .submit-btn {
    font-size: 14px;
  }

  .call-label {
    font-size: 12px;
  }

  .call-cta {
    font-size: 14px;
  }

  .legal-note {
    font-size: 8px;
  }

  .nip-error,
  .phone-error {
    position: absolute;
    left: 0;
    font-family: Open sans;
    font-size: 11px;
    color: #e61732;
    animation: appear 0.3s ease forwards;
  }

  .nip-error {
    top: -20px;
  }

  /* INFO  */

  .mobile-info-section {
    display: block;
    width: 100%;
    height: 190px;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;
    padding: 25px;
  }

  .mobile-info-list-icon {
    width: 25px;
  }

  .mobile-info-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
  }

  .mobile-info-list-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .mobile-info-list-text {
    font-size: 10px;
    font-weight: 600;
    color: #003154;
  }

  /* QUESTION SEC  */

  .question-section {
    padding: 30px 15px;
  }

  .question-section-header {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .question-tile-icon {
    width: 30px;
  }

  .question-tile-header,
  .question-tile-text {
    font-size: 10px;
  }

  .tiles-grid {
    gap: 15px;
  }

  .grid-tile {
    padding: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    grid-column-gap: 15px;
    grid-row-gap: 40px;
  }

  /* FOOTER */

  .footer {
    padding: 30px 20px;
  }

  .footer-container {
    width: 100%;
    margin: 0;
  }

  .footer-logo {
    width: 215px;
    margin-bottom: 20px;
  }

  .footer-text {
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  .header-text {
    font-size: 20px;
    color: #000000;
  }
}
